<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Documententation</title>
	<link href="https://fonts.googleapis.com/css?family=Mitr" rel="stylesheet">
	<style>
		body {
			margin-left: 20px;
			font-family: 'Mitr', sans-serif;
			line-height: 150%;
			background-color: #F5F2F7;
		}
	</style>
</head>
<body>
	<h1>Documentation</h1>
		<h2>Lorem Ipsum</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?</p>
		<h2>Lorem Ipsum</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!</p>
</body>
</html>