
<!-- This file should be named explore.html -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Peter Chen">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Technology & Economic Development Final Project">	
	<title>NetTraff</title>
	<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/p5.js"></script>
</head>
<body>
	<h1>Explore</h1>
	<p id ="instructions">Click on two nodes to add or select a link. Type to add weights to the links </p>

	<!-- <div id="cy"></div> -->
	
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<!-- script for P5 Sketch -->
	<script src="js/sketch.js"></script>
</body>
</html>