<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Peter Chen">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Technology & Economic Development Final Project">	
	<title>NetTraff</title>
	<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/p5.js"></script>
</head>
<body>
	<h1 class = "index" id="title">Network Traffic</h1>
	<h2 class = "index" >Explore your way through our neworks</h2>

	<button class = "index button"  id="tutorial-button"> Walk through </button>
	<button class = "index button" id="play-button" > Play the game </button>
	<button class = "index button" id="explore-button"> Build a road or break it down? </button>
	<button class = "index button" id="about-button"> About Us </button>

	<script type="text/javascript">
	    document.getElementById("explore-button").onclick = function () {
	        location.href = "explore";
	    };
	    document.getElementById("about-button").onclick = function() {
	        location.href = "about";
		};
	</script>

	<!-- <div id="cy"></div> -->
</body>
</html>