<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Peter Chen">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Technology & Economic Development Final Project">	
	<title>NetTraff</title>
	<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/p5.js"></script>
</head>
<body>
	<h1>Click to add nodes</h1>
	<!-- <div id="cy"></div> -->
	
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<!-- script for network graph -->
	<!-- <script src="js/cytoscape.js"></script> -->
	<!-- script for Algorithm -->
	<script src="js/Algorithm.js"></script>
	<!-- script for P5 Sketch -->
	<script src="js/sketch.js"></script>
	<!-- script for creating the graph -->
	<script src="js/graph.js"></script>
 	<!-- Custom JavaScript -->
 	<!-- <script src="js/script.js"></script> -->


</body>
</html>