body {
	font-family: 'Comfortaa', cursive, sans-serif;
}

h1 {
	padding-top: 5px;
	margin-left: 100px;
}

.index{
	margin-left: 200px;
	display: block;
}

.button {
    background-color: rgba(100,150,230,0.5);
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
}

#title{
	font-size: 80px;
	margin-top: 8%;
	margin-bottom: 2%;
}

#instructions {
    position: absolute;
    bottom: 0;
    margin-left: 100px;
	padding-bottom: 10px;
}

