body {
	font-family: 'Comfortaa', cursive, sans-serif;
}

h1 {
	padding-top: 5px;
	margin-left: 100px;
}

#instructions {
    position: absolute;
    bottom: 0;
    margin-left: 100px;
	padding-bottom: 10px;
}

