body {
	font-family: 'Comfortaa', cursive, sans-serif;
}

h1 {
	maring-top: 25px;
	margin-left: 50px;
}

#cy {
	height: 85%;
	width: 100%;
	position: absolute;
	top: 15%;
	left: 0;
	background-color: #F1F1F1; /* added color for visual aid while developing, can remove later */
}
